.cardContainer {
 align-items: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
 height: 100%;
 width: 100%;
}

.btnNext {
    background-color: var(--opacity-color);
    border: 1px solid var(--opacity-color);
    border-radius: var(--border-radius);
    color: var(--light-color);
    font-size: 1rem;
    letter-spacing: 2px;
    left: calc(50% - 40vw);
    position: absolute;
    padding: 1rem;
    top: calc(95% - 49px);
    width: 80vw;
}

.subTitle {
  color: var(--light-color);
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding: 16px;
  text-shadow: 3px 0 0 var(--opacity-color);
}

.gamesList {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

  .games {
    background-color: var(--opacity-color);
    border: 1px solid var(--light-color);
    border-radius: 5px;
    color: var(--light-color);
    font-weight: 600;
    margin: 0.5rem auto;
    padding: 1rem;
    width: 90vw;
  }
  


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 868px) {
.gamesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 50vh;
  
}

.gamesList {
  padding-top: 25vh;
}

.games {
  align-items: center;
  display: flex;
  width: 20vw;
  margin: 0.5rem;
  height: 200px;
  justify-content: center;
  width: 200px;
}
}
