.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.title {
  font-size: 2rem;
  left: 20px;
  position: absolute;
  text-shadow: 5px 0 0 var(--accent-color);
  top: 20px;
}

.gamesList {
  color: var(--light-color);
  list-style-type: none;
  margin: 18vh auto;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.games {
  background-color: var(--opacity-color);
  border: 1px solid var(--light-color);
  border-radius: 5px;
  margin: 0.8rem auto;
  padding: 0.7rem 1rem;
  width: 85vw;
}